body {
  margin: 0;
}
.error-div {
  background-color: rgba(203, 101, 101, 0.692);
  margin: 20px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bold;

  &:empty {
    display: none;
    padding: 0;
    border: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 10px;
  text-align: left;
  padding: 10px;
  border: 0px;
}

.loginButton {
  margin: 2rem;
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  box-shadow: 10px;
  transition: all 0.4s;
}

.loginButton:hover {
  transform: scale(1.1);
}
